$light: #5e7b8c;
$dark: #2c3f59;
$body-color: #030202;
$body-bg: #fffefa;

@import "~bootstrap-v4-rtl/scss/functions";
@import "~bootstrap-v4-rtl/scss/variables";
@import "~bootstrap-v4-rtl/scss/mixins/_breakpoints";
